<div class="pensamento modelo1 ff-roboto-mono " [ngClass]="larguraItemCadastrado()">
  <img class="logo" src="../../../assets/imagens/logo-hb.png" alt="logo hb vendas" />
  <p class="conteudo">{{ cadastro.nome }}</p>
  <p class="conteudo">{{ cadastro.categoria }}</p>
  <p class="conteudo">{{ cadastro.email }}</p>
  <p class="conteudo">{{ cadastro.telefone }}</p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar" />
    </button>
    <button class="botao-excluir">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
